<!doctype>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <header class="header" data-pjax>
      <a href="/" class="home js-head">&nbsp;</a>
    </header>

    <div class="wrapper">
      {% unless page.date %}
      <div class="sidebar">
        <h3>
          Hello hi! 我是 ariel。
        </h3>
        <p>
	        <img height='200' width='200' src='../images/avatar.jpg' alt='ariel avatar'>
        </p>
        <p>
          <a href="http://ariedoublelee.com/2016/06/09/mulanweichang" target="_new">
          <img height='50' width='50' src='../images/201606/mulanweichang6.jpg' alt='mulanweichang, chengde'>
          </a>
        </p>
      </div>
      {% endunless %}
      <div class="column js-content">
        {% if page.date %}
          <article>
            <header class="post-header">
              <h3 class="post-title">{{ page.title }}</h3>
              {% if page.date %}
                <small>
                  {{ page.date | date_to_string }} -
                  by <a href="https://weibo.com/bunnyariel" target="_blank">@ariedoublelee</a>
                </small>
              {% endif %}
            </header>
            {{ content }}
          </article>
          <div class="pagination" data-pjax>
            {% if page.previous %}
              <a class="page-nav" href="{{ page.previous.url }}" id="js-previous-post">
                &lt; {{ page.previous.title }}
              </a>
            {% endif %}
            {% if page.next %}
              <a class="page-nav" href="{{ page.next.url }}" id="js-next-post">
                {{ page.next.title }} &gt;
              </a>
            {% endif %}
          </div>
        {% else %}
          {{ content }}
        {% endif %}
      </div>
    </div>
    <footer class="footer">
      The end.
    </footer>
  </body>
</html>
